body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}


.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.home-container,.zipcode-container{
height: 100%;
width:100%;
background-size:cover;
flex-direction:column;
}

.header{
    font-size: 45px;
    color:red;
    font-weight: 100;
}


.button {
    color: #e6e6e6;
    background: green;
    border: none;
    font-size: 12px;
    border-radius: 3px;
    width: 200px;
    text-align: center;
    display: block;
    padding: 7px 0;
    margin: 10px auto;
    text-decoration: none;

}

.button:hover:enabled {
    background: linear-gradient(green,green);
    color: #fff;
    text-decoration: underline;
}

.button:active {
    transform: translateY(1px);
}

.Disabled{
    cursor: default;
}